<% content_for :title, "アカウント登録 | Myapp" %>
<h1><%= t('users.registration_title') %></h1>

<!-- フラッシュメッセージの表示 -->
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= t('users.form.alert') %>
  </div>
<% end %>

<%= render 'form', user: @user %>
