<!DOCTYPE html>
<html lang="ja">
<head>
    <% content_for :title, "ホームページ | Myapp" %>
</head>

<body>
    <nav id="menubar">
        <h1>
            <a href="index.html">
                MyRanking
            </a>
        </h1>
        <ul>
            <li><a href="<%= posts_path %>">ランキングを閲覧</a></li>
            <li><a href="<%= new_post_path %>">私の商品を投稿</a></li>
            <li><a href="#service">有名人の商品投稿</a></li>
            <li><a href="#contact">お問い合わせ</a></li>
        </ul>
    </nav>
</body>
</html>